*{
    box-sizing: border-box;
}

body {background-color:black;}
#main{
    margin: auto;
    background-color: white;
    border-radius: 6px;;
    width:50%;
    height:80%
}

h1{
color:rgb(119, 118, 118);
text-align: center;
padding-top: 20px;
font-weight: bold;

}

table{
    margin-left: auto;
    margin-right: auto;
   
    padding: 20px;
    font-size: 20px;
   
}
table tr{
    padding: 20px;
}
table td{
    padding :10px;
}

#btn{
  
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(155, 155, 155, 0.445);
}
#num{
    margin: auto;
    width: 40%;
    
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    
}
#v{
    font-size: 20px;
}

#copy{
    margin-left: 18px;
   
}

